<%- include('../partials/head') %>
<body class=" row text-secondary">
    <%- include('../partials/infoUser'); %>
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/carrito'); %>
    <script> filtroChecked = `<%= filt %>`; </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>