<div class=" col-12 col-lg-4 align-items-center justify-content-center" style="margin-top:2%">
    <div class="bg-light border border-secondary rounded shadow p-3 mb-5"> 
        <% if(!carrito || carrito.productos.length == 0){ %>
            <h2>Carrito Vacio</h2>
            <hr>
            <h5>Puedes empezar a agregar productos al carrito haciendo click sobre el icono 
                <img width="25" title="Agregar al carrito" src="/icon/addCar.png">
            </h5>
        <% }else { %>
            <table class="table text-secondary">
                <tr>
                    <td colspan="5"> <h2 class="text-center text-secondary">Carrito</h2> </td>
                </tr>
                <tr>
                    <td> <b>Foto</b> </td>
                    <td> <b>descripción</b> </td>
                    <td> <b>Precio</b> </td>
                    <td> <b>Categoria</b> </td>
                    <td> <b>Accion</b> </td>
                </tr>
            <% for (let i = 0; i < carrito.productos.length; i++) { %>
                <tr>
                    <td> <img width="70" src=<%= carrito.productos[i].foto %> > </td>
                    <td> <%= carrito.productos[i].descripcion %> </td>
                    <td> $<%= carrito.productos[i].precio %> </td>
                    <td> <%= carrito.productos[i].categoria %> </td>
                    <td> 
                        <a href="/carrito/delProd/<%= email %>/<%= carrito.productos[i].idUnico %>" style="text-decoration: none;">
                            <img width="18" title="Eliminar producto" src="/icon/eliminar.png">
                        </a>
                    </td>
                </tr>
            <% } %>
                <tr>
                    <td colspan="5">
                        <i style="color: rgb(12, 196, 12); font-size: 14px;">Ultima actividad: <%= carrito.fyh %></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="5"> 
                        <div align="center">
                            <a href="/carrito/finCar/<%= user.nombre %>/<%= user.email %>" class="btn btn-success text-center" style="margin-right: 100px;">Realizar pedido</a> 
                            <a href="/carrito/delCar/<%= email %>" class="btn btn-danger text-center">Vaciar carrito</a>
                        </div>
                    </td>
                </tr>
            </table>
        <% } %>
    </div>
</div>